*.pyc
*.jpg
*.png
*.json
*.log
*.pkl
*.txt
*.pt
*.out
*.err
*.ipynb
*.egg-info
*.pth
*.gpu*
carla/*
data/*
llava-v1.5-7b
LMDrive-llava-v1.5-7b-v1.0
LMDrive-vision-encoder-r50-v1.0
dataset/
birdview_v2_cache/
eval_logs/
train_logs/
data_collection/